* {
  margin: 0;
}

.main {
  padding: 1rem;
}

.main header {
  padding: 1rem;
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  align-items: center;
  background: radial-gradient(#76b2fe, #b69efe);
  border-radius: 0.625rem;
  box-shadow: 0 0.375rem 0.625rem rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  margin: 1.25rem;
  padding: 1.25rem;
  transition: all 0.2s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 0.375rem 0.625rem rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card__exit,
.card__icon {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

.card__exit {
  transition: all 0.2s;
}

.card__exit:hover {
  font-size: 1.3rem;
}

.card__icon {
  font-size: 1.875rem;
}

.card__title {
  color: #000;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}

@media max-width 1600px {
  .cards {
    flex-direction: row;
    justify-content: center;
  }
}
